<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>I-Fap</title>
    <script type="text/javascript" src="{{ static("ifap/js/bundle.js") }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ static("ifap/css/bundle.css") }}">
</head>
<body>
<div class="d-flex w-100 flex-column align-items-center">
    {% for classe in classes %}
        <p>Classe: {{ classe.nom }}</p>

        {% for ordre in classe.ordres.all() %}
            <p>Ordre: {{ ordre.nom }}</p>

            {% for famille in ordre.familles.all() %}
                <p>Famille: {{ famille.nom }}</p>

                {% for animal in famille.animaux.all() %}
                    <div class="w-100 d-flex justify-content-around">
                    <p>Animal [Nom Scientifique]: {{ animal.nom_scientifique }}</p>

                    <p>Animal [Nom Commun]:
                        {% if animal.nom_scientifique == animal.nom_commun %}
                            -
                        {% else %}
                        {{ animal.nom_commun }}
                    {% endif %}
                    </p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
</body>
</html>