<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>I-Fap</title>
    <script type="text/javascript" src="{{ static("ifap/js/bundle.js") }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ static("ifap/css/bundle.css") }}">
</head>
<body>

<select class="select-classe">
    {% for classe in classes %}
        <option value="{{ classe.id }}">{{ classe.nom }}</option>
    {% endfor %}
</select>
{% for classe in classes %}
    <div id="select-classe-{{ classe.id }}">
        <select class="select-ordre d-none">
            {% for ordre in classe.ordres.all() %}
                <option value="{{ ordre.id }}">{{ ordre.nom }}</option>
            {% endfor %}
        </select>
        {% for ordre in classe.ordres.all() %}


            <div id="select-ordre-{{ ordre.id }}">
                <select class="select-famille d-none">
                    {% for famille in ordre.familles.all() %}
                        <option value="{{ famille.id }}">{{ famille.nom }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
    </div>
{% endfor %}
<div class="d-flex w-100 flex-column align-items-center">
    {% for classe in classes %}
        <p id="classe-{{ classe.id }}" class="classe">Classe: {{ classe.nom }}</p>

        {% for ordre in classe.ordres.all() %}
            <p id="ordre-{{ ordre.id }}" class="ordre">Ordre: {{ ordre.nom }}</p>

            {% for famille in ordre.familles.all() %}
                <p id="famille-{{ classe.id }}" class="famille">Famille: {{ famille.nom }}</p>

                {% for animal in famille.animaux.all() %}
                    <div id="animal-{{ animal.id }}" class="animal w-100 d-flex justify-content-around">
                        <p>Animal [Nom Scientifique]: {{ animal.nom_scientifique }}</p>

                        <p>Animal [Nom Commun]:
                            {% if animal.nom_scientifique == animal.nom_commun %}
                                -
                            {% else %}
                                {{ animal.nom_commun }}
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
</body>
</html>